---
import Layout from '../layouts/Layout.astro';
import Dotmatrix from '../components/Dotmatrix.astro';
---

<Layout title="Umar Rajguru">
	<html>
		<body>
			<div id="main">
				<Dotmatrix />
				<h1>hi! i'm umar.</h1>
			</div>
		</body>
	  </html>
</Layout>

<style>
	html {
		margin: auto;
		padding: 0rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		line-height: 1.4;
		background-color: #1c1e21;
	}
	#main {
		text-align:center;
		width: 35em;
		margin: 4.0em auto;
		color: #1c1e21;
	}
	#main h1 {
		font-size: 1.5em;
		font-weight: 300;
		text-align:center;
		color: #dbdbdb;
	}
</style>
