---
import Layout from '../layouts/Layout.astro';
import Dotmatrix from '../components/Dotmatrix.astro';
import Card from '../components/Card.astro';
---

<Layout title="Umar Rajguru">
	<html>
		<body>
			<div id="main">
				<Dotmatrix />
				<h1>umar rajguru</h1>
			</div>
		</body>
	  </html>
</Layout>

<style>
	html {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
		background-color: #e5e3d6;
	}
	#main {
		text-align:center;
		width: 35em;
		margin: 3.5em auto;
		color: #e5e3d6;
	}
	#main h1 {
		font-size: 1.5em;
		font-weight: 300;
		text-align:center;
		color: #23669f;
	}



</style>
