---
import Layout from '../layouts/Layout.astro';
import Dotmatrix from '../components/Dotmatrix.astro';
import Resume from '../components/Resume.astro';
--- 

<Layout title="Umar Rajguru">
	<html>
		<body>
			<div id="main">
				<Dotmatrix />
				<Resume />	
			</div>
			
		</body>
	  </html>
</Layout>

<style>
	html {
	
		line-height: 1.4;
		background-color: #faead6;
		font-size: 0.95em;
	}
	#main {
    width: calc(100% - 8em); /* Adjust the width calculation as needed */
    max-width: calc(100% - 2rem);
    margin: 4.0em auto;
    color: #faead6;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    flex-direction: column;
    margin-left: 8em;

}
	#main h1 {
		font-size: 1.5em;
		font-weight: 300;
		color: #3a352a
		
	}
</style>
