
<!-- 

container
    sidebar
    content
    footer (external links)
    
 -->
 <div id="container">

    <div id="nav">
        
    </div> 
    <div id="content">
        <p>Cupidatat non eiusmod cillum et id aute ea id sit.</p>
        <p>Laboris ex dolor proident quis adipisicing qui velit deserunt culpa in ut. Irure do occaecat pariatur aliquip eu cillum deserunt. Ad duis do sit est anim velit reprehenderit sit pariatur ipsum velit minim consectetur. Adipisicing irure consectetur ea nulla laborum labore.</p>
        <p>Esse duis tempor eiusmod aute et tempor laboris ea.</p>
    </div>
 </div>


<style>
#container {
 
}
#nav a {

}

#container * {
    color: #dbdbdb;
}



#content {
    text-align:justify;
    width: 75%;
    margin: auto;
    margin-top: 3em;
}



</style>
