<div class="dotmatrixdiv">
<code id="dotmatrix">
⡿⠋⠀⣠⣴⣾⣿⣿⠿⣿⣿⣷⣦⣀⠀⠙<br>
⠀⢀⣾⣿⠟⠉⠀⠀⣀⠀⠀⠉⠻⣿⣷⡀<br>
⠀⣾⣿⠃⠀⣰⣾⣿⠿⣿⣷⣄⠀⠘⢿⣿<br>
⠰⣿⣏⠀⠰⣿⣏⢀⡀⠀⢹⣿⡇⠀⢸⣿<br>
⠀⣿⣿⡀⠀⠻⢿⡿⠟⠀⢠⣿⡟⠀⢠⣿<br>
⠀⠈⢿⣿⣦⣀⡀⢀⣀⣤⣿⡿⠁⠀⣼⣿<br>
⣧⡀⠀⠙⠻⠿⢿⡿⠿⠟⠋⠀⢀⣼⣿⠏<br>
⠻⣿⣷⣤⣀⣀⡀⢀⣀⣀⣤⣶⣿⠟⠁⠀<br>
</code>
<script src="../js/dotmatrix.js"></script>
</div>

<style>
    #dotmatrix {
        display:block;
        text-align:center;
        letter-spacing: -0.2em;
        line-height:1.1em;
        color: #23669f; /* 472D2D */
    }
</style>