---
import SocialIcons from "./SocialIcons.astro";
---
 
 <div id="container">
    <div id="sidebar">
        <!-- Add your sidebar content here -->
            <a style="color:rgba(0, 0, 0, 1); font-weight: bold;" href="/">home</a>
            <a style="color:rgba(0, 0, 0, 0.4)" href="/projects">projects</a>
            <a style="color:rgba(0, 0, 0, 0.4)" href="/resume">resume</a>
            <!-- Add more links as needed -->
    </div>
    <div id="content">
        
        <section>
            <h1>hi! i'm umar.</h1>
            <p>I am a 4th year student at McMaster University pursuing a bachelors in computer science with an interest in machine learning.</p>
            <p>I began coding in 2013 and fell in love ever since. My hobbies include shooting film, listening to music, playing classical guitar, and solving hard problems with code.</p>
            <p>Recently, I finished a 12-month internship at Huawei's Noah's Ark Lab, working on machine learning solutions for motion planning in autonomous driving.</p>
            <p>feel free to email, umarrajguru at outlook dot com</p>

            <ul style="font-size: 0.9em;"><h4>papers:</h4>
            <li>
                Mirkhani, H., Khamidehi, B., Ahmadi, E., Arasteh, F., Elmahgiubi, M., Zhang, W., <strong>Rajguru, U.</strong>, Rezaee, K. (2025). 
                <em>CAPS: Context-Aware Priority Sampling for Enhanced Imitation Learning in Autonomous Driving</em>. 
                Preprint at <a href="https://arxiv.org/abs/2503.01650" target="_blank" rel="noopener noreferrer" style="color: rgb(var(--accent));">arXiv:2503.01650</a>
            </li>
        </section>
        <section>
            <div id="socials">
                <SocialIcons />
            </div>
        </section>
    </div>
 </div>
<style>
#container {
    text-align: center;
    display: flex;
    flex-direction: Row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: relative;
    width: 35em;
}
#container * {
    color: #3a352a
}
#content {
    text-align: justify;
    width: 75%;
    margin-top: 2em;
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
#sidebar {
    display: flex;
    flew-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 4.0em;
    margin-top: 4.0em;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    padding-top: 4.0em;
}

#sidebar a {
    text-decoration: none;
}
#sidebar a:hover {
    transition: all 0.3s ease;
    font-weight: bold;
}

#socials {
      padding-left: 10px;
      display: flex;
    
      padding-top: 0px;
      gap: 1em;
      overflow: hidden;
      /* animation: startup-fade-social 6s ease-in-out forwards; */
}

</style>