<div id="container">
    <div id="sidebar">
        <!-- Add your sidebar content here -->
            <a style="color:rgba(0, 0, 0, 0.4)" href="/">home</a>
            <a style="color:rgba(0, 0, 0, 1); font-weight: bold;"  href="/projects/">projects</a>
            <a style="color:rgba(0, 0, 0, 0.4)" href="/film/">film</a>
            <!-- Add more links as needed -->
    </div>
    <div id="content">
        
        <section>
            <h1>projects.</h1>
            <p>amet nulla elit Lorem sint esse excepteur voluptate.</p>
        </section>
        <div class="grid">
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.png" alt=""></div></div>
            <div><div class="inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Utah_teapot_%28solid%29.stl/1200px-Utah_teapot_%28solid%29.stl.pngc" alt="">
        </div>

        
    </div>
 </div>
<style>
.inner {
    padding: 2px;
}
.grid img {
    display: block;
        max-width: 100%;
        height: auto;

}
#container {
    text-align: center;
    display: flex;
    flex-direction: Row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: relative;

}
#container * {
    color: #3a352a
}
#content {
    text-align:justify;

    margin-top: 2em;
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    max-width: 1600px;
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#sidebar {
    display: flex;
    flew-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 4.0em;
    margin-top: 4.0em;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    padding-top: 4.0em;
}

#sidebar a {
    text-decoration: none;
}



</style>