---
import SocialIcons from "./SocialIcons.astro";
---

<div id="container">
    <div id="sidebar">
        <!-- Add your sidebar content here -->
            <a style="color:rgba(0, 0, 0, 0.4)" href="/">home</a>
            <a style="color:rgba(0, 0, 0, 1); font-weight: bold;"  href="/projects/">projects</a>
            <a style="color:rgba(0, 0, 0, 0.4)" href="/resume.pdf/" target="_blank">resume</a>
            <!-- Add more links as needed -->
    </div>
    <div id="content">
        
        <section>
            <h1>projects.</h1>
        </section>
        <a href="https://github.com/umvar/ProjectPythia" style="text-decoration: none" target=”_blank” >
        <div class="project">
            <img alt=""" loading="lazy"decoding="async" data-nimg="1" src="/spaceapps.png">
            <div class="desc">
            <p class="title" >Project Pythia: Kp Index Prediction</p>
            <div id="linksym">
                <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"/></svg>
                  </p>
            </div>
            <p>
               A machine learning approach to predicting Kp index values from DSCOVR satellite spectral data, paired with a ThreeJS visualization of the data with an interactive globe component.
            </p>
            <div id="tags">
                <p>Python</p>
                <p>TensorFlow</p>
                <p>JavaScript</p>
                <p>ThreeJS</p>
            </div>
            </div>
          </div>
        </a>
        <a href="https://umvar.github.io/3D-NBody-Simulation/" style="text-decoration: none" target=”_blank” >
          <div class="project">
            <img alt=""" loading="lazy"decoding="async" data-nimg="1" src="/nbody.png">
            <div class="desc">
            <p class="title">3D N-Body Simulation</p>
            <div id="linksym">
                <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"/></svg>
                  </p>
            </div>
            <p>Web-based 3D N-Body simulation using ThreeJS and React.</p>
            <div id="tags">
                <p>JavaScript</p>
                <p>ThreeJS</p>
                <p>React</p>
            </div>
            </div>
          </div>
        </a>
        <a href="https://github.com/umvar/double-pendulum" style="text-decoration: none" target=”_blank” >
          <div class="project">
            <img alt=""" loading="lazy"decoding="async" data-nimg="1" src="/rk4_trajectory.png">
            <div class="desc">
            <p class="title">Double Pendulum Numerical Solver</p>
            <div id="linksym">
                <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"/></svg>
                  </p>
            </div>
            <p>Numerical solver for a double pendulum system with a tracjetory plot visualization of motion data.</p>
            <div id="tags">
                <p>C++</p>
            </div>
            </div>
          </div>
        </a>
        <a href="https://github.com/umvar/JadeVM" style="text-decoration: none" target=”_blank” >
          <div class="project">
            <img alt=""" loading="lazy"decoding="async" data-nimg="1" src="/vm.png">
            <div class="desc">
            <p class="title">JadeLang Virtual Machine</p>
            <div id="linksym">
                <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"/></svg>
                  </p>
            </div>
            <p>A stack-based virtual machine for the bytecode execution of a syntantically unique programming language.</p>
            <div id="tags">
                <p>C</p>
                <p>Assembly</p>
            </div>
            </div>
          </div>
        </a>
    </div>
 </div>
<style>

#container {
    text-align: center;
    display: flex;
    flex-direction: Row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: relative;
    width: 33%;
}
#container * {
    color: #3a352a
}
#content {
    text-align:justify;
    width: 75%;
    margin-top: 2em;
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#linksym {
      display: flex;
      gap: 0.5em;
      padding-left: 0.75em;
} 

#tags {
      display: flex;
      gap: 0.5em;
      
} 

#tags p {
    margin-top: 1em !important;
    font-size: 0.8em;
    background: #3a352a;
    color: #faead6;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
}



#sidebar {
    display: flex;
    flew-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 4.0em;
    margin-top: 4.0em;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    padding-top: 4.0em;
}

#sidebar a {
    text-decoration: none
}

#sidebar a:hover {
    transition: all 0.3s ease;
    font-weight: bold;
}

.project {
    display: flex;
        align-items: start;
        justify-content: center;
    flex-direction: row;
    text-align: left;

    /* make length longer */

    margin-bottom: 3em;
    width: 39em;
    padding-right: 1em;
    
    padding-top: 1em;
    padding-bottom: 1em;


}

.project:hover {
  border-radius: 0.375rem; /* Corresponds to rounded-md in Tailwind */
  transition: all 0.3s ease; /* Corresponds to transition in Tailwind */

  /* Motion reduce: transition-none doesn't have a direct equivalent in CSS.
     You may need to manually handle this based on your specific use case. */

    background-color: #d4c5b1;

    cursor: pointer;
    padding-left: 1em;
}

img {
    width: 25%;
    border-radius: 5px;

    margin-right: 1.5em;
    margin-top: .5em;
    float: left;

}

.desc {

}

.title {
    float: left;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.project p {
    margin-top: 0.5em !important;
    margin-bottom: -0.1em !important;

}



</style>