<div id="container">
    <div id="sidebar">
        <!-- Add your sidebar content here -->
            <a style="color:rgba(0, 0, 0, 0.4)" href="/">home</a>
            <a style="color:rgba(0, 0, 0, 0.4)" href="/projects">projects</a>
            <a style="color:rgba(0, 0, 0, 1); font-weight: bold;" href="/resume">resume</a>
            <!-- Add more links as needed -->
    </div>
    <div id="content">
        
        <section>
            <h1>resume.</h1>
        </section>
        <object data="/resume.pdf" type="application/pdf" style="min-height:1100px;width:800px"></object>
    </div>
 </div>
<style>
#container {
    text-align: center;
    display: flex;
    flex-direction: Row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: relative;
    width: 35em;
}
#container * {
    color: #3a352a
}
#content {
    text-align:justify;
    width: 75%;
    margin-top: 2em;
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
#sidebar {
    display: flex;
    flew-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 4.0em;
    margin-top: 4.0em;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    padding-top: 4.0em;
}

#sidebar a {
    text-decoration: none;
}
#sidebar a:hover {
    transition: all 0.3s ease;
    font-weight: bold;
}



</style>
