<div id="sidebar">
    <!-- Add your sidebar content here -->
    <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">projects</a></li>
        <li><a href="#">film</a></li>
        <!-- Add more links as needed -->
    </ul>
</div>